html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body#default { background-color: #ffc; font-family: Verdana, Arial, sans-serif; font-size: 14px; line-height: 18px; }
body#default a { text-decoration: none; }
body#default a:hover { color: #00f; font-style: bolder; }

.container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; border: 1px solid #ccccc9; margin-bottom: 14px; background-color: #fff; }
.container { display: block; }

#header { display: inline; float: left; margin-right: 0; width: 950px; height: 144px; background-color: #ccffff; border-bottom: 1px solid #333; margin-bottom: 44px; }
* html #header { overflow-x: hidden; }
#header img { z-index: 99; overflow: visible; position: absolute; }

.foreclosed { display: inline; float: left; margin-right: 10px; width: 70px; padding-top: 112px; }
* html .foreclosed { overflow-x: hidden; }
.foreclosed img { margin-left: -11px; }

.message { display: inline; float: left; margin-right: 10px; width: 230px; padding-top: 6px; }
* html .message { overflow-x: hidden; }
.message img { margin-left: -11px; }

.logo { display: inline; float: left; margin-right: 10px; width: 310px; }
* html .logo { overflow-x: hidden; }

.quote { display: inline; float: left; margin-right: 10px; width: 190px; text-align: center; padding-top: 18px; }
* html .quote { overflow-x: hidden; }
.quote span { margin-top: 30px; font-style: italic; display: block; }

.sucks { display: inline; float: left; margin-right: 0; width: 70px; }
* html .sucks { overflow-x: hidden; }
.sucks img { margin-top: 44px; margin-left: 9px; }

#content { display: inline; float: left; margin-right: 10px; width: 870px; padding-left: 40px; min-height: 444px; }
* html #content { overflow-x: hidden; }

#index-left { display: inline; float: left; margin-right: 10px; width: 550px; height: 100%; }
* html #index-left { overflow-x: hidden; }
#index-left #announce { margin-top: 44px; }
#index-left #announce label { font-weight: bold; }
#index-left #announce fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
#index-left #announce legend { font-weight: bold; font-size: 1.2em; }
#index-left #announce input.text, #index-left #announce input.title, #index-left #announce input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
#index-left #announce input.title { font-size: 1.5em; }
#index-left #announce input[type=checkbox], #index-left #announce input.checkbox, #index-left #announce input[type=radio], #index-left #announce input.radio { position: relative; top: 0.25em; }
#index-left #announce textarea { margin: 0.5em 0; padding: 5px; }
#index-left #announce select { margin: 0.5em 0; }
#index-left #announce fieldset { border: 1px solid #cccccc; }
#index-left #announce input.text, #index-left #announce input.title, #index-left #announce textarea, #index-left #announce select { border: 1px solid #bbbbbb; }
#index-left #announce input.text:focus, #index-left #announce input.title:focus, #index-left #announce textarea:focus, #index-left #announce select:focus { border: 1px solid #666666; }
#index-left #announce input.text, #index-left #announce input.title { width: 300px; }
#index-left #announce textarea { width: 390px; height: 250px; }
#index-left div { margin-bottom: 11px; }

#index-right { padding-left: 40px; display: inline; float: left; margin-right: 0; width: 270px; }
* html #index-right { overflow-x: hidden; }
#index-right #right-stuff { margin-top: 94px; margin-bottom: 11px; }
#index-right #check-back { margin-bottom: 44px; }
#index-right #freee { border: 1px solid #ccc; padding: 4px; font-size: .8em; }
#index-right #freee td { text-align: center; }
#index-right #freee h4 { font-weight: bold; font-size: 2em; padding-top: 3px; padding-bottom: 3px; }
#index-right #freee .freee-link { text-align: left; }

.one-goal { padding-left: 40px; list-style-type: circle; }

.error-text { margin-top: 44px; font-color: red; }

#footer { display: inline; float: left; margin-right: 0; width: 950px; margin-top: 6px; margin-bottom: 6px; font-size: .8em; }
* html #footer { overflow-x: hidden; }
#footer #contacto { display: inline; float: left; margin-right: 10px; width: 310px; }
* html #footer #contacto { overflow-x: hidden; }
#footer #contacto a { padding-left: 10px; }
#footer #legalese { display: inline; float: left; margin-right: 10px; width: 310px; text-align: center; }
* html #footer #legalese { overflow-x: hidden; }
#footer #subscribe { display: inline; float: left; margin-right: 0; width: 310px; text-align: right; }
* html #footer #subscribe { overflow-x: hidden; }
#footer #subscribe span { padding-right: 10px; }
