html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

*:focus { outline: 0; }

body { line-height: 1em; color: black; background: #fff; }

ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

img a { border: none; }

body#default { background-color: #ffc; font-family: Verdana, Arial, sans-serif; font-size: 14px; line-height: 18px; }
body#default a { text-decoration: none; }
body#default a:hover { color: #00f; font-style: bolder; }
body#default .container { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; border: 1px solid #ccccc9; margin-bottom: 14px; background-color: #fff; }
body#default .container { display: block; }
body#default #header { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; display: inline; float: left; margin-right: 0; width: 950px; background-color: #ccffff; height: 155px; border-bottom: 1px solid #333; margin-bottom: 44px; }
body#default #header { display: block; }
* html body#default #header { overflow-x: hidden; }
body#default #header .foreclosed { display: inline; float: left; margin-right: 10px; width: 190px; padding-top: 80px; }
* html body#default #header .foreclosed { overflow-x: hidden; }
body#default #header .foreclosed img { margin-left: 11px; }
body#default #header .logo { padding-left: 40px; display: inline; float: left; margin-right: 10px; width: 350px; }
* html body#default #header .logo { overflow-x: hidden; }
body#default #header .logo img { z-index: 99; overflow: visible; position: absolute; margin-left: 83px; }
body#default #header .quote { padding-left: 480px; display: inline; float: left; margin-right: 0; width: 190px; text-align: center; }
* html body#default #header .quote { overflow-x: hidden; }
body#default #header .quote span { margin-top: 46px; font-style: italic; display: block; }
body#default #content-wrapper { width: 950px; margin: 0 auto; overflow: hidden; display: inline-block; display: inline; float: left; margin-right: 10px; width: 870px; padding-left: 40px; min-height: 444px; }
body#default #content-wrapper { display: block; }
* html body#default #content-wrapper { overflow-x: hidden; }
body#default #content { display: inline; float: left; margin-right: 10px; width: 630px; padding-left: 120px; }
* html body#default #content { overflow-x: hidden; }
body#default #index-left { display: inline; float: left; margin-right: 10px; width: 550px; height: 100%; }
* html body#default #index-left { overflow-x: hidden; }
body#default #index-left #announce { margin-top: 44px; }
body#default #index-left #announce label { font-weight: bold; }
body#default #index-left #announce fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
body#default #index-left #announce legend { font-weight: bold; font-size: 1.2em; }
body#default #index-left #announce input.text, body#default #index-left #announce input.title, body#default #index-left #announce input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
body#default #index-left #announce input.title { font-size: 1.5em; }
body#default #index-left #announce input[type=checkbox], body#default #index-left #announce input.checkbox, body#default #index-left #announce input[type=radio], body#default #index-left #announce input.radio { position: relative; top: 0.25em; }
body#default #index-left #announce textarea { margin: 0.5em 0; padding: 5px; }
body#default #index-left #announce select { margin: 0.5em 0; }
body#default #index-left #announce fieldset { border: 1px solid #cccccc; }
body#default #index-left #announce input.text, body#default #index-left #announce input.title, body#default #index-left #announce textarea, body#default #index-left #announce select { border: 1px solid #bbbbbb; }
body#default #index-left #announce input.text:focus, body#default #index-left #announce input.title:focus, body#default #index-left #announce textarea:focus, body#default #index-left #announce select:focus { border: 1px solid #666666; }
body#default #index-left #announce input.text, body#default #index-left #announce input.title { width: 300px; }
body#default #index-left #announce textarea { width: 390px; height: 250px; }
body#default #index-right { padding-left: 40px; display: inline; float: left; margin-right: 0; width: 270px; }
* html body#default #index-right { overflow-x: hidden; }
body#default #index-right .sucks { margin-bottom: 123px; }
body#default #index-right .sucks img { margin-top: -88px; margin-left: 88px; z-index: 99; overflow: visible; position: absolute; }
body#default #index-right #right-stuff { margin-top: 94px; }
body#default .one-goal { padding-left: 40px; }
body#default .error-text { margin-top: 44px; font-color: red; }
body#default #footer { display: inline; float: left; margin-right: 0; width: 950px; margin-top: 6px; margin-bottom: 6px; }
* html body#default #footer { overflow-x: hidden; }
body#default #footer #contacto { display: inline; float: left; margin-right: 10px; width: 310px; }
* html body#default #footer #contacto { overflow-x: hidden; }
body#default #footer #contacto a { padding-left: 10px; }
body#default #footer #legalese { display: inline; float: left; margin-right: 10px; width: 310px; text-align: center; }
* html body#default #footer #legalese { overflow-x: hidden; }
body#default #footer #subscribe { display: inline; float: left; margin-right: 0; width: 310px; text-align: right; }
* html body#default #footer #subscribe { overflow-x: hidden; }
body#default #footer #subscribe span { padding-right: 10px; }
