// This import applies a global reset to any page that imports this stylesheet.
// To configure blueprint, edit the partials/_base.sass file.
@import partials/_base.sass
@import blueprint/screen.sass
@import blueprint/modules/scaffolding.sass
@import compass/reset.sass
@import compass/utilities.sass

+blueprint-typography("body.blueprint")

// TODO: color names


body.blueprint
  +blueprint-scaffolding
  :background-color #ffc
  .container
    +container

body#default
  .container
    :border 1px solid #ccccc9
    :margin-bottom 14px
    :background-color #fff
  #header
    +column(24, true)
    :background-color #ccffff
    :height 200px
    :border-bottom 1px solid #333
    :margin-bottom 44px
    h1
      :float left
    img
      :margin-left 285px
  // this is a container around all content.
  #content-wrapper
    +column(22)
    +prepend(1)
    :min-height 444px
  // containers for left and right sides of index page that fit
  // within the content div
  #content
    +column(16)
    +prepend(3)
  #index-left
    +column(14)
  #index-right
    +prepend(1)
    +column(7)
  .one-goal
    +prepend(1)
  .error-text
    :margin-top 44px
    :font-color red    
  #footer
    +column(24, true)
    :margin-top 6px
    #contacto
      +column(8)
      a
        :padding-left 10px
    #legalese
      +column(8)
      :text-align center
    #subscribe
      +column(8,true)
      :text-align right
      span
        :padding-right 10px

