// This import applies a global reset to any page that imports this stylesheet.
// To configure blueprint, edit the partials/_base.sass file.
@import partials/_base.sass
@import blueprint/screen.sass
@import blueprint/modules/scaffolding.sass
@import blueprint/modules/form.sass
@import compass/reset.sass
@import compass/utilities.sass

+blueprint-typography("body.blueprint")

// TODO: color names

body#default
  :background-color #ffc
  a
    :text-decoration none
    &:hover
      :color #00f
      :font-style bolder
  .container
    +container
    :border 1px solid #ccccc9
    :margin-bottom 14px
    :background-color #fff
  #header
    +container
    +column(24, true)
    :background-color #ccffff
    :height 195px
    :border-bottom 1px solid #333
    :margin-bottom 44px
    .foreclosed
      +column(5)
      :padding-top 123px
      img
        :margin-left 11px
    .logo
      +prepend(1)
      +column(9)
      img
        :z-index  99
        :overflow visible
        :position absolute
        :margin-left 1px          
    .quote
      +prepend(12)
      +column(5, true)
      :text-align center
      span
        :margin-top 46px
        :font-style italic
        :display block
      .home-logo
        :text-align left
        :margin-top 33px

  // this is a container around all content.
  #content-wrapper
    +container
    +column(22)
    +prepend(1)
    :min-height 444px
  // containers for left and right sides of index page that fit
  // within the content div
  #content
    +column(16)
    +prepend(3)
  #index-left
    +column(14)
    :height 100%
    #announce
      +blueprint-form
      :margin-top 44px
  #index-right
    +prepend(1)
    +column(7, true)
    .sucks
      :margin-bottom 123px
      img
        :margin-top -88px
        :margin-left 88px
        :z-index  99
        :overflow visible
        :position absolute
    #right-stuff
      :margin-top 94px
  .one-goal
    +prepend(1)
  .error-text
    :margin-top 44px
    :font-color red    
  #footer
    +column(24, true)
    :margin-top 6px
    :margin-bottom 6px
    #contacto
      +column(8)
      a
        :padding-left 10px
    #legalese
      +column(8)
      :text-align center
    #subscribe
      +column(8,true)
      :text-align right
      span
        :padding-right 10px

